{% extends "netropolis_app/member-index.html" %}

{% block content %}
<section class="content home">
            <div class="block-header">
                <div class="row">
                    <div class="col-lg-5 col-md-5 col-sm-12">
                        <h2>Netropolis Notice List <small class="text-muted">Welcome to Netropolis</small></h2>
                    </div>            
                    <div class="col-lg-7 col-md-7 col-sm-12 text-right">
                        
                        
                        
                        <ul class="breadcrumb float-md-right">
                            <li class="breadcrumb-item"><a href="..\dashboard\index.html"><i class="zmdi zmdi-home"></i> Netropolis</a></li>
                            <li class="breadcrumb-item">Notice</li>
                            <li class="breadcrumb-item active">Notice List</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="container-fluid">                
                <div class="blog-page">
    <div class="row">
        <div class="col-md-12 left-box">

            {% for n in nall %}
                <div class="card single_post">
                    <div class="body">
                        <h3 class="m-t-0 m-b-5"><a href="detail.html">{{n.title}}</a></h3>
                        <ul class="meta">
                            <li><a href="#"><i class="zmdi zmdi-account col-blue"></i>Posted By: {{n.user_id.role}}</a></li>
                        </ul>
                    </div>                     
                    <div class="body">
                        <p>{{n.Description}}</p>                    
                    </div>
                </div>    
            {% endfor %}
        </div>

    </div>
</div>
</section>
{% endblock %}